@import "tailwindcss";
@plugin "daisyui";

.google-btn {
  @apply flex items-center justify-center gap-3 bg-white text-gray-900 px-5 py-2 rounded-lg w-full border  font-semibold hover:bg-gray-100 shadow-md bg-gradient-to-l border-red-500 from-red-500 to-red-300 cursor-pointer hover:scale-102 transition-transform;
}
